@model dynamic
@{
    ViewData["Title"] = "Sign In";
    Layout = null;
}
<link href="~/css/Login.css" rel="stylesheet" />


<div class="container">
    <h1>@ViewData["Title"]</h1>

    @if (ViewBag.ErrorMessage != null)
    {
        <p>@ViewBag.ErrorMessage</p>
    }

    <form asp-controller="Auth" asp-action="Login" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
        </div>
        <button type="submit">Sign In</button>
    </form>

    <div class="register-link-container">
        <a href="/Auth/Register" class="register-link">Don't have an account? Register here</a>
    </div>
</div>


