@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi, I'm Taha Ibrahim</p>
    <p>This project demonstrates a simple implementation of user authentication and product management using the Repository Pattern with Unit of Work in ASP.NET Core MVC.</p>

</div>
